<div class="auth-page-wrapper">
  <mat-card class="battle-card cyan-glow">
    <mat-card-header>
      <mat-card-title class="tech-title cyan-text">Menú Principal</mat-card-title>
      <mat-card-subtitle class="tech-subtitle">Selecciona tu misión</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="battle-form">
        <button mat-flat-button class="btn-cyan" routerLink="/crear-partida">
          Crear Partida
        </button>

        <button mat-flat-button class="btn-orange">
          Unirse a Partida
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
